@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 48em) {
  div.first {
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
  }
  div.second , div.third{
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
  }
}
@media (min-width: 48.1em) {
  div.first {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
  }
  div.second , div.third{
    
    border-bottom-right-radius: 2%;
  }
  div.second , div.forth{
    border-bottom-left-radius: 2%;
  }
}